<template name='s3_upload_button'>
  <button class='btn btn-default {{button_size_css}} s3-file-upload-button no-select'>
    {{#if s3private true}}
    <span class='glyphicon glyphicon-cloud-upload'></span> Private Upload
    {{else}}
    <span class='glyphicon glyphicon-cloud-upload'></span> Upload
    {{/if}}
  </button>
</template>

<template name='s3_allow_user_config'>
  <div class="btn-group col-md-12 col-sm-12 col-xs-12 col-lg-12">
    {{> s3_upload_button}}
    <button class='btn btn-default col-md-1 col-sm-2 col-xs-2 col-lg-1 s3-user-config-button no-select'>
      <span class='glyphicon glyphicon-cog'></span>
    </button>
  </div>
  {{#if config_button_toggle true}}
    <div class='row'>
      <div class='well well-sm col-md-10 col-md-offset-1'>
        <form class='form-horizontal' role="form">
          {{> s3config_form}}
          <button id='S3ConfigSaveButton' type="submit" class="btn btn-default btn-block no-select">Update</button>
        </form>
      </div>
    </div>
  {{/if}}
</template>

<template name='s3upload'>
  {{#if useUserRole}}
    <div class='s3-upload-controls row'>
    {{#if noConfig true}}
      {{> noConfigWarning}}
    {{else}}
      {{#if noUploads true}}
        <input type="file" class='hidden s3-file-upload no-select'>
        {{#if allow_user_config true}}
          {{> s3_allow_user_config}}
        {{else}}
          {{> s3_upload_button}}
        {{/if}}
      {{else}}
        {{> s3progress}}
      {{/if}}
    {{/if}}
    </div>
  {{/if}}
</template>

<template name='s3progress'>
  {{#isolate}}
  {{#if show_progress}}
  {{#if has_errors}}
  <div class='btn btn-block btn-danger'>Upload Aborted</div>
  {{else}}
  {{#if complete}}
  <div class='btn btn-block btn-success'>Upload Complete</div>
  {{else}}
  <div class="progress">
    <div class="progress-bar {{error_class}}" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%">
      <span class="sr-only">{{progress}}% Complete</span>
    </div>
  </div>
  {{/if}}
  {{/if}}
  {{/if}}
  {{/isolate}}
</template>
